<html lang="en">
<% include ../partials/header %>

    <body>
        <% include ../partials/nav %>
            <div class="container">
                <p>
                    <%= title %>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget-area no-padding blank">
                            <div class="status-upload">
                                <form>
                                    <textarea placeholder="What are you doing right now?"></textarea>
                                    <ul>
                                        <li>
                                            <a href="#" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-up icon"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn btn-default stat-item">
                                                <i class="fa fa-thumbs-down icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <button type="submit" class="btn btn-success green">
                                        <i class="fa fa-share"></i> Reply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
                <% include ../partials/footer %>
                    <% include ../partials/scripts %>
    </body>

</html>